div.comment-list {
  background: #f3f3f3;
  padding: 20px;
}

div.comment-item {
  border: 1px solid #ccc;
  font-size: 13px;
  margin-bottom: 10px;
  padding: 10px;
}

div.comment-item p {
  margin-bottom: 20px;
}

div.comment-item p:last-child {
  margin-bottom: 0;
}